
body{
    box-sizing: border-box;

    
    

background-image: linear-gradient(135deg, rgba(198,4,224,0.8347826086956522) 0%, rgba(62,28,224,1) 100%);

}
body::before{
    content:'';
    position:absolute;
    
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: rgb(198,4,224);
background: linear-gradient(45deg, rgba(198,4,224,0.8347826086956522) 0%, rgba(62,28,224,1) 100%);
clip-path: circle(30% at left 10%);


}
body::after{
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
  background: rgb(224,4,165);
background: linear-gradient(45deg, rgba(62,28,224,1) 0%, rgba(198,4,224,0.8347826086956522) 100%);

clip-path: circle(30% at right 90%);


}


#timer_input{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin:10px;
    gap: 3vw;
    height: 10vh;
    color:red;
    -moz-user-select: -moz-none;
        -khtml-user-select: none;
        -webkit-user-select: none;
     
        /*
          Introduced in IE 10.
          See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
        */
        -ms-user-select: none;
        user-select: none;
        
    
    
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: whitesmoke;
    opacity: 1; /* Firefox */

  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: whitesmoke
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: whitesmoke
  }

  #timer_input #time_in_minutes{
      width:300px;
      overflow: hidden;
  }
  #start{
      width:100px;
      overflow: hidden;
  }
#timer_input #time_in_minutes, #start{

 box-sizing: border-box;
 color:whitesmoke;
 padding:0.5em;
 border: 0.01em solid rgb(255, 255, 255,0.1);
 border-radius: 5px;
 text-align: center;
 background-color: rgba(255,255,255,0.1);
 backdrop-filter:blur(10px);
 text-transform: uppercase;
 font-size:1em;
 font-family: sans-serif;
 font-weight: bold;
 z-index: 1;






 
 
}
#timer_input #time_in_minutes:active, #start:active
{
    border:none;
    
    box-shadow: 2px 2px 5px black;
}

#timer_input #time_in_minutes:hover ,#start:hover{
    box-shadow: 2px 2px 5px black;
    cursor:pointer;
    

}
#timer_clock_container{
    display: block;
    position:absolute;
    width:100vw;
    height:80vh;
    left:0;
    margin:0;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index:1;
   

}
#timer_clock{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background:inherit;
    background-color:rgb(255, 255, 255,0.1);
    backdrop-filter:blur(10px);
    width:300px;
    height:300px;
    border:rgb(255,255,255,0.5)  solid;
     box-shadow:0px 0px 100px rgb(243, 61, 204),
    0px 0px 120px white, 0px 0px 200px red;
    border-width: 2px;
    border-radius: 50%;
    background-image: url(IMG/pomodoro.png) ;
    background-repeat: no-repeat;
    
   
    background-size: cover;
    background-position-x: -20px;
   background-position-y: 1px;
   background-size: cover;
}
#time{
    color:goldenrod;
    font-size:50px;
    pointer-events: none;
    
        -moz-user-select: -moz-none;
        -khtml-user-select: none;
        -webkit-user-select: none;
     
        /*
          Introduced in IE 10.
          See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
        */
        -ms-user-select: none;
        user-select: none;
     
     
}
#stop_timer{
    display:flex;
    justify-content: center;
    align-items: flex-end;
    top:30vh;
    width:100vw;
    height:60vh;
    position: absolute;
    left:0;
}
#timer_clock:hover{
    box-shadow: 2px 2px 5px black;
}

#stop_container{
  position:absolute;
  display: flex;

  justify-content: center;
  align-items:flex-end;
  left:0vw;
  width:100vw;
  height:80vh;
  
}

#stop{
  box-sizing: border-box;
 color:whitesmoke;
 padding:1em;
 border: 0.01em solid rgb(255, 255, 255,0.1);
 border-radius: 5px;
 text-align: center;
 background-color: rgba(255,255,255,0.1);
 backdrop-filter:blur(10px);
 text-transform: uppercase;
 font-size:1em;
 font-family: sans-serif;
 font-weight: bold;
 width:100px;
 z-index:1;


}
#stop:hover{
  box-shadow: 2px 2px 5px black;

}
